@import "../../assets/styles/var";
@import "../../assets/styles/mixins";

.css-typing {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* start reading */
.about-me {
  padding-top: 2.5em;
  text-align: left;
  font-family: $font-text;
  @include screenMaxW600 {
    padding-top: 4em;
  }
  @include transitions-elem(all, 3s, ease);

  .about-article-text {
    margin-bottom: 1.00em;
    margin-top: 0;
    line-height: 1.5em;
    font-size: 1.25em;
    @include screenMaxW600 {
      font-size: 1em;
    }
    .large-letter {
      font-size: 3.857142em;
      padding-top: 20px;
      line-height: 0.8em;
    }
    .capital-letter {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.76190476em;
    }
  }

  .about-article {
    margin-top: 25px;
    margin-bottom: 15px;
    span {
      border-left: 1px solid #000;
    }
    @include screenMaxW600 {
      font-size: 1.4em;
    }
    @include screenMaxW400 {
      font-size: 1.2em;
    }
  }

  .about-date {
    margin-bottom: 25px;
    @include screenMaxW400 {
      font-size: 0.9em;
    }
  }

  .about-links {
    text-decoration: underline;
    cursor: pointer;
    color: $color-black;
    @include transitions-elem(color, 0.2s, ease);
    &:hover {
      color: #0fb7b7;
      text-decoration: underline;
    }
  }

  .about-ornament {
    margin-top: 3em;
    margin-bottom: 1.5em;
    text-align: center;

    @include screenMaxW600 {
      margin-top: 5em;
    }
    svg {
      height: 75px;
      @include screenMaxW600 {
        height: 45px;
      }
    }
  }
}