<?xml version="1.0"?>
<configuration>
   <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="RewriteRequestsToPublic" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
          </conditions>
          <action type="Rewrite" url="public/index.php/{R:0}" />
        </rule>

      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <remove value="index.php"/>
        <add value="index.php"/>
      </files>
  </defaultDocument>
  <customErrors mode="Off"/>
  </system.webServer>
</configuration>
