<?xml version="1.0"?>
<configuration>
   <system.webServer>
    <rewrite>
      <rules>
        <clear/>
  <!-- <rule name="RewriteAssetsToPublic" stopProcessing="true">
          <match url="^(.*)(\.css|\.js|\.jpg|\.png|\.gif)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
          </conditions>
          <action type="Rewrite" url="node_modules/{R:0}" />
          </rule>
       <rule name="RewriteRequestsToPublic" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
          </conditions>
          <action type="Rewrite" url="public/{R:0}" />
        </rule> -->

      </rules>
    </rewrite>
  <staticContent>
  <clientCache cacheControlCustom="public;max-age" cacheControlMaxAge="10.00:00:00" cacheControlMode="UseMaxAge" />
  </staticContent>
  </system.webServer>
</configuration>
