<div class="placeholder" *ngIf="controlIns.root['formType'] === 'page'">
    <span class="plh-text">{{controlIns?.label}}</span>
</div>

<div class="counter-container" (click)="onTouched()">

    <div class="placeholder-section" *ngIf="!elementFocus && !controlIns.value">

        <div class="placeholder" (click)="focusInput = true">
            <i class="alarm-i i-basic_alarm_regular"
               [matTooltip]="controlIns?.errors | formError"
               matTooltipClass="error-tooltip"></i>

            <span class="plh-text" *ngIf="controlIns.root['formType'] === 'widget'">{{controlIns?.label}}</span>
        </div>

        <div class="btns">
            <button type="button" class="count-btn btn-up" (click)="onCountUp()"
                    [disabled]="controlIns.disabledView"></button>
            <button type="button" class="count-btn btn-down" (click)="onCountDown()"
                    [disabled]="controlIns.disabledView"></button>
        </div>

    </div>

    <div class="counter-input-section" *ngIf="elementFocus || controlIns.value">

        <div class="counter-input-wr">
            <i class="alarm-i i-basic_alarm_regular"
               [matTooltip]="controlIns?.errors | formError"
               matTooltipClass="error-tooltip"></i>

            <div class="counter-label-input-wr">
                <div *ngIf="controlIns.root['formType'] === 'widget' && (elementFocus || controlIns.value)" class="counter-label">
                    {{controlIns.label}}
                </div>

                <div class="counter-input"
                     [attr.contenteditable]="!controlIns.disabledView"
                     tabindex="0"
                     #counterInput
                     (input)="onInputValue($event)"
                     (focus)="focusInput = true"
                     (blur)="focusInput = false">
                    {{controlIns.value}}
                </div>
            </div>

        </div>

        <div class="btns-section">
            <button type="button" class="count-btn btn-up" (click)="onCountUp()"
                    [disabled]="controlIns.disabledView"></button>
            <button type="button" class="count-btn btn-down" (click)="onCountDown()"
                    [disabled]="controlIns.disabledView"></button>
        </div>
    </div>

    <div class="currency-section">
        <span class="cur-label">Currency</span>
        <div class="cur-value">{{params.currency}}</div>
    </div>
</div>
