<div class="projects" [@projectsState]>

    <div class="container">
        <div class="row" *ngFor="let value of projects; let i = index" [@projectTop]="i">
            <div class="col-md-6 project" *ngFor="let project of value" [class.active]="project?.active"
                 (press)="goToProject(project?.href)" (click)="showInfo(project)">
                <img class="img-responsive img-thumbnail project-img" src="{{ project?.src }}" alt="MakeWear">
                <div class="project-description">
                    {{ project?.desc }}
                </div>
            </div>
        </div>
    </div>

</div>

