@import "../../assets/styles/var";
@import "../../assets/styles/mixins";

/*projects*/
.projects {
  padding: 4em 0 0 0;
  @include transitions-elem(all, 3s, ease);
  @include screenMaxW600 {
    padding: 5em 0 0 0;
  }

  .project {
    display: block;
    cursor: pointer;
    padding: 0;
    .project-img {
      width: 100%;
    }
    &:hover {
      opacity: 1;
      background-color: rgba(255,255,255,0.8);
      @include transform-elem(scale(1));
      .project-img {
        opacity: .2;
      }
      .project-description {
        opacity: 1;
        @include transform-elem(scale(1));
      }
    }
  }

  .project-description {
    position: absolute;
    top: 0;
    padding: 20px;
    opacity: 0;
    color: #204056;
    line-height: 2;
    font-size: 1.3em;
    -webkit-transition: -webkit-transform 0.15s ease-in-out,opacity 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out,opacity 0.15s ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    @include transform-elem(scale(0.95));
    @include screenMaxW600 {
      font-size: 1em;
      line-height: 1.5em;
    }
  }
}
