<div class="projects">

    <div class="container">
        <div class="row" *ngFor="let value of projects; let i = index" [@projectTop]="i">
            <div class="col-md-6 project" *ngFor="let project of value">

                <mat-card class="project-card">
                    <img class="img-fluid img-thumbnail project-img" [src]="project?.src" alt="{{project?.btn}}">
                    <button mat-button class="btn" (tap)="goToProject(project?.href)">{{ project?.btn }}</button>
                </mat-card>

            </div>
        </div>
    </div>

</div>

