@import "../../assets/styles/var";
@import "../../assets/styles/mixins";

/*projects*/
.projects {
  padding: 3em 0 0 0;
  @media screen and (max-width: 600px) {
    padding: 4em 0 0 0;
  }
  .col-md-6 {
    margin-bottom: 20px;
  }

  .project {
    display: block;
    &:hover {
      opacity: 1;
      background-color: rgba(255,255,255,0.8);
      @include transform-elem(scale(1));
      img {
        opacity: .2;
      }
      div {
        opacity: 1;
        @include transform-elem(scale(1));
      }
    }
  }

  .descr {
    position: absolute;
    top: 0;
    padding: 20px;
    opacity: 0;
    color: #204056;
    line-height: 2;
    -webkit-transition: -webkit-transform 0.15s ease-in-out,opacity 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out,opacity 0.15s ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    @include transform-elem(scale(0.95));
  }
}
