<div class="contact">

    <div class="container">
        <div class="row">
            <div class="col-md-6 contact-list pd-10" [@contactBlockList]>
                <mat-card>
                    <mat-list>
                        <h3 mat-subheader>{{'Contacts.contacts' | translate}}</h3>
                        <mat-list-item *ngFor="let contact of contacts">
                            <mat-icon mat-list-avatar>{{contact.icon}}</mat-icon>
                            <h4 mat-line>{{contact.name}}</h4>
                            <p mat-line [@print] class="css-typing"> {{contact.value}} </p>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <h3 mat-subheader>{{'Contacts.sn' | translate}}</h3>
                        <mat-list-item *ngFor="let social of socials">
                            <mat-icon mat-list-avatar class="large-icon">{{social.icon}}</mat-icon>
                            <a mat-line class="about-links" href="{{social.link}}" target="_blank">
                                <h4 [@print] class="css-typing">{{social.name}}</h4>
                            </a>
                            <span mat-line>&nbsp;</span>
                        </mat-list-item>
                    </mat-list>
                </mat-card>
            </div>

            <div class="col-md-6 contact-list pd-10" [@mailBlock]>
                <mat-card [ngStyle]="{'background-color': submitColor}">
                    <h2>{{'Contacts.sendmail' | translate}}</h2>
                    <hr>
                    <ha-ha-loader></ha-ha-loader>
                    <div [hidden]="submitted || showLoader || submitColor">
                        <form class="contact-form" (ngSubmit)="onSubmit()" #contactForm="ngForm">

                            <mat-input-container class="full-width">
                                <input matInput placeholder="{{'Contacts.subject' | translate}}"
                                       maxlength="60" required
                                       [(ngModel)]="mail.subject" name="subject">
                            </mat-input-container>

                            <mat-input-container class="full-width">
                                <textarea matInput placeholder="{{'Contacts.message' | translate}}"
                                          required class="contacts-textarea"
                                          [(ngModel)]="mail.message" name="message">
                                </textarea>
                            </mat-input-container>

                            <div class="form-btns">
                                <button type="button" mat-fab (click)="cancel()" [disabled]="contactForm.form.pristine">
                                    <mat-icon>clear</mat-icon>
                                </button>
                                <button mat-fab type="submit"
                                        [disabled]="!contactForm.form.valid || contactForm.form.pristine">
                                    <mat-icon>mail_outline</mat-icon>
                                </button>
                            </div>

                        </form>
                    </div>

                    <div [hidden]="!submitted">
                        <h5>{{'Contacts.subMessage' | translate}}</h5>
                        <hr>
                        <form class="contact-form">
                            <mat-input-container class="full-width">
                                <input matInput placeholder="{{'Contacts.subject' | translate}}"
                                       disabled
                                       [ngModel]="mail.subject" name="subject">
                            </mat-input-container>

                            <mat-input-container class="full-width">
                            <textarea matInput placeholder="{{'Contacts.message' | translate}}"
                                      class="contacts-textarea" disabled
                                      [ngModel]="mail.message" name="message"></textarea>
                            </mat-input-container>

                            <div class="form-btns">
                                <button mat-fab type="button"
                                        (click)="submitted=false; submitColor = ''; showError = false;">
                                    <mat-icon>mail_outline</mat-icon>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div [hidden]="!showError" class="mail-submitted">
                        <h4 class="text-center p-5">{{'Contacts.mailError' | translate}}</h4>
                        <hr>
                        <div class="text-center">
                            <button mat-fab type="button"
                                    (click)="submitted=false; submitColor = ''; showError = false;">
                                <mat-icon>mail_outline</mat-icon>
                            </button>
                        </div>
                    </div>
                    <br>
                </mat-card>
            </div>
        </div>
    </div>
</div>