<div [ngClass]="{'in': toggleClassMenu, 'out': !toggleClassMenu,
        'white': toggleClassMenuBW, 'black': !toggleClassMenuBW
        ,'transparent': toggleClassTransparent}"
     class="clearfix menu">
    <ul class="nav nav-pills">
        <li class="menu-pill nav-item">
            <a class="menu-nav nav-link" [routerLink]="['/home']" routerLinkActive="menu-active">Home</a>
        </li>
        <li class="menu-pill nav-item">
            <a class="menu-nav nav-link" [routerLink]="['/about']" routerLinkActive="menu-active">About</a>
        </li>
        <li class="menu-pill nav-item">
            <a class="menu-nav nav-link" [routerLink]="['/skills']" routerLinkActive="menu-active">Skills</a>
        </li>
        <li class="menu-pill nav-item">
            <a class="menu-nav nav-link" [routerLink]="['/projects']" routerLinkActive="menu-active">Projects</a>
        </li>
        <li class="menu-pill nav-item">
            <a class="menu-nav nav-link" [routerLink]="['/contacts']" routerLinkActive="menu-active">Contact</a>
        </li>
    </ul>
</div>
