.transitions-elem(@prop, @duration, @timing, @delay: 0s) {
  -ms-transition: @prop @duration @timing @delay;
  -webkit-transition: @prop @duration @timing @delay;
  -moz-transition: @prop @duration @timing @delay;
  -o-transition: @prop @duration @timing @delay;
  transition: @prop @duration @timing @delay;
}

.transform-elem(@function) {
  -webkit-transform: @function;
  -moz-transform: @function;
  -ms-transform: @function;
  -o-transform: @function;
  transform: @function;
}