<div class="skills main" [class.init_2]="animate">

    <div class="container">

        <p class="skills-title">Front-end skills</p>
        <div class="row" *ngFor="let value of frontEnd">
            <div class="col-md-3 col-sm-3 col-xs-6 text-center" *ngFor="let skil of value">
                <div class="content-front__skill">
                    <div class="icon-{{ skil.icon }}"></div>
                    <h3 class="skill-name">{{ skil.name }}</h3>
                </div>
            </div>
        </div>


        <p class="skills-title">Back-end skills</p>
        <div class="row" *ngFor="let value of backEnd">
            <div class="col-md-3 col-sm-3 col-xs-6 text-center" *ngFor="let skil of value">
                <div class="content-back__skill">
                    <div class="icon-{{skil.icon}}"></div>
                    <h3 class="skill-name">{{ skil.name }}</h3>
                </div>
            </div>
        </div>


        <p class="skills-title">Other skills</p>
        <div class="row" *ngFor="let value of other">
            <div class="col-md-3 col-sm-3 col-xs-6 text-center" *ngFor="let skil of value">
                <div class="content-front__skill">
                    <div class="icon-{{ skil.icon }}"></div>
                    <h3 class="skill-name">{{ skil.name }}</h3>
                </div>
            </div>
        </div>

    </div>
</div>

<ha-footer></ha-footer>
