@import "../../assets/styles/var";
@import "../../assets/styles/mixins";

/* skills */
.skills {
  color: #011;
  .col-md-3 {
    padding: 5px;
    .content-front__skill,
    .content-back__skill {
      padding: 5px;
      height: 180px;
      .skills-icon {
        margin: 0 auto;
      }
    }
  }
  .skills-title {
    padding: 30px;
    font-size: 3em;
    margin: 1.5em 0;
  }

  .skills-title, .skill-name {
    text-shadow: 0px 5px 10px;
  }

  .icon-html {
    background-image: url('../../assets/img/sprite/html.png');
    width: 100px;
    height: 109px;
    @include margin-top-bottom(5px);
  }
  .icon-less {
    background-image: url('../../assets/img/sprite/sass-less.png');
    width: 100px;
    height: 45px;
    @include margin-top-bottom(43px);
  }
  .icon-boot {
    background-image: url('../../assets/img/sprite/bootstrap.png');
    width: 100px;
    height: 100px;
    @include margin-top-bottom(7.5px);
  }
  .icon-js {
    background-image: url('../../assets/img/sprite/js.png');
    width: 100px;
    height: 115px;
  }
  .icon-jquery {
    background-image: url('../../assets/img/sprite/jquery.png');
    width: 100px;
    height: 100px;
  }
  .icon-ang {
    background-image: url('../../assets/img/sprite/ang.png');
    width: 100px;
    height: 103px;
  }
  .icon-gulp {
    background-image: url('../../assets/img/sprite/gulp.png');
    width: 100px;
    height: 100px;
  }
  .icon-jq-ui {
    background-image: url('../../assets/img/sprite/gulp.png');
    width: 100px;
    height: 100px;
  }
  .icon-php {
    background-image: url('../../assets/img/sprite/php.png');
    width: 100px;
    height: 52px;
    @include margin-top-bottom(35px);
  }
  .icon-sql {
    background-image: url('../../assets/img/sprite/sql.png');
    width: 100px;
    height: 100px;
    @include margin-top-bottom(7.5px);
  }
  .icon-mvc {
    background-image: url('../../assets/img/sprite/mvc.png');
    width: 100px;
    height: 93px;
    @include margin-top-bottom(11.5px);
  }
  .icon-composer {
    background-image: url('../../assets/img/sprite/composer.png');
    width: 100px;
    height: 115px;
  }
  .icon-git {
    background-image: url('../../assets/img/sprite/git.png');
    width: 100px;
    height: 100px;
  }
  .icon-azure {
    background-image: url('../../assets/img/sprite/azure.png');
    width: 100px;
    height: 75px;
    @include margin-top-bottom(22.5px);
  }
  .icon-cisco {
    background-image: url('../../assets/img/sprite/cisco.png');
    width: 100px;
    height: 56px;
    @include margin-top-bottom(32px);
  }
  .icon-english {
    background-image: url('../../assets/img/sprite/eng.png');
    width: 100px;
    height: 100px;
  }
}