@import url('https://fonts.googleapis.com/css?family=Roboto|Marck+Script|Merriweather|Indie+Flower|Material+Icons');

.wrap {
  display: block;
  position: relative;
  min-height: 100%;
  height: auto;
  margin: 0 auto -100px;
  overflow: hidden;
}

.push {
  height: 100px;
}
