@import "../helpers/var.less";
@import "../helpers/mixins.less";
@import "../helpers/sprite.less";
/* animation view */
.animate-skills.ng-enter {
  .keyframes(fade-in-skill, 0, 1, skewY(-15deg), skewY(0deg));
  .animation-elem(0.7s, fade-in-skill, ease);
  z-index: 100;
}

.animate-skills.ng-leave {
  .keyframes(fade-out-skill, 1, 0, scale(1, 1), scale(0.1, 0.1));
  .animation-elem(0.7s, fade-out-skill, ease);
  z-index: 99;
}

/* main-2 skills */
.skills {
  background: url(@skills-url) center center;
  background-size: cover;
  color: #011;
  .col-md-3 {
    padding: 5px;
    .content-front__skill,
    .content-back__skill {
      border-radius: 3px;
      border: 1px solid @color-white;
      padding: 5px;
      height: 180px;
      background-color: rgba(999, 999, 999, 0.05);
      div {
        margin: 0 auto;
        .transform-elem(translate(30px, 0));
      }
    }
    .content-front__skill {
      box-shadow: 1px 1px 5px;
    }
    .content-back__skill {
      box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.5) !important;
    }

  }
  h2 {
    font-family: @font-Indie;
    padding: 30px;
    border-bottom: 1px solid @color-white;
    border-top: 1px solid @color-white;
    opacity: 0;
    font-size: 3em;
    padding: 0;
    margin: 1.5em 0;
    box-shadow: 1px 1px 5px;
    .transform-elem(translate(0, 20px));
  }

  h2, h3 {
    text-shadow: 0px 5px 10px;
  }
  .icon-html {
    .sprite(@icon-html);
    .margin-top-bottom(5px);
  }
  .icon-less {
    .sprite(@icon-sass-less);
    .margin-top-bottom(40px);
  }
  .icon-boot {
    .sprite(@icon-bootstrap);
    .margin-top-bottom(7.5px);
  }
  .icon-js {
    .sprite(@icon-js);
  }
  .icon-jquery {
    .sprite(@icon-jquery);
  }
  .icon-ang {
    .sprite(@icon-ang);
  }
  .icon-gulp {
    .sprite(@icon-gulp);
  }
  .icon-jq-ui {
    .sprite(@icon-jq-ui);
  }
  .icon-php {
    .sprite(@icon-php);
    .margin-top-bottom(35px);
  }
  .icon-sql {
    .sprite(@icon-sql);
    .margin-top-bottom(7.5px);
  }
  .icon-mvc {
    .sprite(@icon-mvc);
    .margin-top-bottom(11.5px);
  }
  .icon-composer {
    .sprite(@icon-composer);
  }
  .icon-git {
    .sprite(@icon-git);
  }
  .icon-azure {
    .sprite(@icon-azure);
    .margin-top-bottom(22.5px);
  }
  .icon-cisco {
    .sprite(@icon-cisco);
    .margin-top-bottom(32px);
  }
  .icon-english {
    .sprite(@icon-eng);
  }
}



.skills.init_2 {
  h2 {
    background-color: rgba(999, 999, 999, 0.2);
    opacity: 1;
    .transitions-elem(all, 0.5s, ease);
    .transform-elem(translate(0px, 0px));
  }
  .row .col-md-3 > div > div {
    .transitions-elem(all, 0.5s, ease);
    .transform-elem(translate(0px, 0px));
  }
}