<div class="skills main" ng-controller="MainController">

        {{ sayHello() }}

    <div class="container">

        <h2>Front-end skills</h2>
        <div class="row" ng-repeat="value in frontEnd">
            <div class="col-md-3 col-sm-3 col-xs-6 text-center" ng-repeat="skil in value">
                <img ng-src="{{ skil.src }}" width="100">
                <h3>{{ skil.name }}</h3>
            </div>
        </div>


        <h2>Back-end skills</h2>
        <div class="row" ng-repeat="value in backEnd">
            <div class="col-md-3 col-sm-3 col-xs-6 text-center" ng-repeat="skil in value">
                <img ng-src="{{ skil.src }}" width="100">
                <h3>{{ skil.name }}</h3>
            </div>
        </div>


        <h2>Другие навики</h2>
        <div class="row" ng-repeat="value in other">
            <div class="col-md-3 col-sm-3 col-xs-6 text-center" ng-repeat="skil in value">
                <img src="{{ skil.src }}" width="100">
                <h3>{{ skil.name }}</h3>
            </div>
        </div>

    </div>

    <my-footer></my-footer>
</div>
