@import 'var';

html,
body {
  background: $color-white;
  min-width: 900px;
  height: 100%;
  color: $color-night-rider;
  font-family: $ubuntu;
  font-size: 100%;
}

dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
form,
body,
html,
blockquote {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

input,
textarea,
select,
button {
  color: $color-black;
  font-family: inherit;
  font-size: 13px;
}

input:focus,
textarea:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  outline: none;
  padding-left: 0;
  list-style: none;
}

div {
  outline: none;
}

span {
  outline: none;
}

* {
  box-sizing: border-box;
}
