@import "var";
@import "mixins";

html, body {
  padding: 0;
  font-family: $font-main !important;
}

body {
  background-color: rgba(239, 238, 238, 1) !important;
  font-size: 150% !important;
  line-height: 1.75em !important;
  color: $color-body-font !important;
  font-weight: 500 !important;
  text-align: center !important;
}

