@import "var";
@import "mixins";
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body {
  padding: 0;
  font-family: $font-main !important;
  height: 100%;
}

body {
  background-color: rgba(239, 238, 238, 1) !important;
  font-size: 150% !important;
  line-height: 1.75em !important;
  color: $color-body-font !important;
  font-weight: 500 !important;
  text-align: center !important;
  overflow: auto;
}



