/* COLORS */
$color-white: #fff;
$color-black: #000;
$color-body-font: #393939;

/* Fonts */
$font-main: 'Merriweather', serif;
$font-text: 'Roboto', sans-serif;
$font-mark-script: 'Marck Script', cursive;

// font variables

$ubuntu-condensed: 'Ubuntu Condensed', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$sans-serif: sans-serif;

// All colors variables named by:
// http://www.color-blindness.com/color-name-hue/
// http://chir.ag/projects/name-that-color/

$color-black: #000;
$color-night-rider: #333;
$color-white: #fff;
$color-very-light-grey: #ccc;
$color-tomato: #ff6e4a;
$color-yellow-green: #85cc27;
$color-periwincle: #cad3ed;
$color-iris-blue: #0ba8ca;
$color-china-ivory: #faffee;
$color-tranquil: #d3e2e6;
$color-half-baked: #588c97;
$color-gulf-blue: #37415a;
$color-regal-blue: #173451;
$color-bunting: #121f3f;
$color-conifer: #9dd652;
$color-spray: #7fcfe0;
$color-clear-day: #f2f8f9;
$color-quartz: #cbd4ee;
$color-misty-rose: #ffdee6;
$color-white-smoke: #f3f3f3;
$color-echo-blue: #afb8d1;
$color-musrard: #ffd24a;
$color-peach-schnapps: #ffded5;
$color-rice-flower: #e7f5d3;
$color-catskill-white: #e6f1f3;
$color-pale-turquoise: #bceaf3;
$color-opacity-white: rgba(255, 255, 255, 0.9);
$color-blizzard-blue: #a6e0ed;
$color-mint-tulip: #ceeef5;
$color-shakespeare: #47a8ce;
