@import "../../assets/styles/var";

/* Jumbotrom */
:host {
  .jumbotrom {
    background: url('../../assets/img/city3-min.jpg') center center;
    background-size: cover;
    text-align: center;
    position: relative;
    top: 0;

    .container {
      text-align: center;
      top: 42%;
      position: relative;
      margin: 0 auto;
    }

    .home-main-title {
      font-size: 3em;
      padding: 0;
      margin: 0;
      color: $color-white;
      span {
        font-family: $font-Indie;
      }
    }

    .home-title {
      font-size: 1.5em;
      color: $color-white;
      text-align: center;
    }
  }

  .btn-about {
    color: $color-white;
    font-style: italic;
  }
}