<div  (window:resize)="initMainSize()" [@homeState] *ngIf="screenHeight">

    <div class="home-image text-center" [ngStyle]="{'height': screenHeight}">
            <h1 class="home-hello" [@homeHello]="animate">{{'Home.hello' | translate}}</h1>
            <h1 class="home-main-title" [@homeMainTitle]="animate">
                {{'Home.Iam' | translate}}<span>{{'Home.Andrei' | translate}}</span>
            </h1>
            <h2 [@homeTitle]="animate" class="home-title">{{'Home.FED' | translate}}</h2>
            <button md-button routerLink="/about" class="home-btn-about">{{'Home.AboutMe' | translate}}</button>
    </div>

</div>

